<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Person View</title>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/krazo.css"/>
</head>
<body>
    <h1>Person</h1>
    <div>{{person.name}}</div>
    <div>{{person.surname}}</div>
    <div>{{person.age}}</div>
</body>
</html>