<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Person View</title>
    {{> head}}
</head>
<body>
    <h1>Person</h1>
    <div>{{person.name}}</div>
    <div>{{person.surname}}</div>
    <div>{{person.age}}</div>
</body>
</html>
