<html>
    <head>
      <title>Hello</title>
      <link rel="stylesheet" type="text/css" href="{{ mvc.basePath }}/krazo.css" />
    </head>
    <body>
      <h1>Hello <span/>{{ user }}</h1>
    </body>
</html>


