doctype html
html
  head
    title= pageName
    link(rel='stylesheet', href='#{request.contextPath}/krazo.css')
  body
    :markdown
      # Mardown introduction
    
      This is **bold** and this _italic_ text.
    
      ## This is how you make a list
      * one
      * two
      * three