<html>
    <head>
      <title>Hello</title>
      <link rel="stylesheet" type="text/css" href="{{request.contextPath}}/krazo.css"/>
    </head>
    <body>
      <h1>Hello {{user}}!</h1>
    </body>
</html>
